body {
    background-color: #101820;
    color: #f0f0f0; 
}

.navbar {
    background-color: #030A0F !important;
}

.image-wrapper {
    text-align: center; 
    margin-top: 50px;  
}
.image-wrapper img {
    max-width: 50%;
    display: inline-block; 
}

